name: Quality checks
on:
  push:
    branches:
      - main
  pull_request:
concurrency:
  # Limit concurrency to 1 for PRs. 'main' concurrency isn't limited.
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
env:
  JAVA_VERSION: 17
jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}

      - name: Check Gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Check detekt
        run: ./gradlew :princeofversions:detekt

      - name: Check lint
        run: ./gradlew :princeofversions:lint

  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}
      - uses: gradle/actions/setup-gradle@v4
        continue-on-error: true
        timeout-minutes: 5
        with:
          cache-overwrite-existing: true
          gradle-home-cache-cleanup: true

      - name: Unit tests
        run: ./gradlew allTests testDebugUnitTest

  build-library:
    name: Build Library
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}
      - uses: gradle/actions/setup-gradle@v4
        continue-on-error: true
        timeout-minutes: 5
        with:
          cache-overwrite-existing: true
          gradle-home-cache-cleanup: true

      - name: Build library
        run: ./gradlew :princeofversions:assembleRelease


  build-ios-framewowrk-and-sample:
    name: Build iOS framework and sample
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}
      - uses: gradle/actions/setup-gradle@v4
        continue-on-error: true
        timeout-minutes: 5
        with:
          cache-overwrite-existing: true
          gradle-home-cache-cleanup: true

      - name: Build iOS sample
        run: xcodebuild -project iosApp/iosApp.xcodeproj -scheme iosApp -destination 'platform=iOS Simulator,name=iPhone 16,OS=latest' CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO CODE_SIGNING_ALLOWED=NO